@import './variables';

body {
    background-color: $bkrnd;
}

h1 {
    color:$pink;
    font-family: $trytwo;
    margin-bottom:10px;
    text-decoration:underline;
    font-weight:bold;
    padding-bottom:10px;
}

#errorText {
    color:$pink;
}

.input-marg {
    padding:10px;
}
.search-form {
    margin-top:30px;
    border: $teal 3px solid;
    border-radius: 5px;
    @include fadeIn;
}

.search-results{
    padding: 10px;
    margin-bottom: 10px;
    @include fadeIn;
}

.list-group  {
    color:black;
}

hr {
    width:50%;
    border:$teal 3px solid;
    border-radius: 10px;
}

.entryLabel {
    margin-bottom:10px;
}

.hPhones {
    color:$pink;
    font-size:50px;
    display:block;
}

.navDivider {
    color:$pink;
    font-size:20px;
    display:block;
    padding:5px;
}

ul {
    display:inline;
}

.userButton {
    color:$teal;
    font-family:$drip;
    background-color:$darkteal;
    border-style: double;
    border-color:$teal;
    &:hover {
        background-color:black;
        border-color:white;
        
    }
}

.register-div {
    border: 4px solid $teal;
    padding: 25px;
    border-radius: 7px;
    margin-top:20px;
    @include fadeIn;
}

.userNav {
    font-family: $drip;
    text-align:center;
    border: 4px $teal solid;
    border-radius: 7px;
    font-size: 35px;
    margin-top:50px;
    padding:25px;
    color:white;
}


.slash {
    color: white;
  }

.songName {
    font-family: $trytwo;
    color:white;
}

li {
    list-style-type: none;
    display: inline-block;  
    font-family: $drip;
    font-size: 25px;
}

iframe {
    border: 4px solid $teal;
}

label {
    font-family:$drip;
    color:white;
}

#logreg {
    float: right;
}

video {
    width:100%;
    height:500px;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blink_me2 {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.home {
    background-image:url(https://media.giphy.com/media/xWlgutH3ZZF6w/source.gif);
    border:50px solid rg;
}